## macOS
.DS_Store
.AppleDouble
.LSOverride

## Project
.build
.swiftpm
Packages
*.xcodeproj
xcuserdata/
Tests/ProcessOutTests/Sources/Generated/*.swift
Tests/ProcessOutTests/Resources/Constants.yml

## Brew
Brewfile.lock.json
