## macOS
.DS_Store
.AppleDouble
.LSOverride

## Project
.build
.swiftpm
Packages
*.xcodeproj
xcuserdata/
Tests/*/Sources/Generated/*.swift
Tests/*/Resources/Constants.yml

## Misc
.env

## Brew
Brewfile.lock.json
