name: Create Release
on: 
  workflow_dispatch:
jobs:
  create-release:
    name: Create Release
    runs-on: macos-12
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Bootstrap Project
        uses: ./.github/actions/bootstrap-project
      - name: Create XCFramework
<<<<<<< Updated upstream
        run: source Scripts/CreateXcframework.sh
      - name: Set Version
        run: |
          echo "RELEASE_VERSION=$(cat Version.resolved)" >> $GITHUB_ENV
      - name: Create Release
        uses: softprops/action-gh-release@v1
        with:
          tag_name: ${{ env.RELEASE_VERSION }}
          files: |
            .build/framework/*.xcframework.zip
            .build/documentation/*.doccarchive.zip
          generate_release_notes: true
=======
        run: source Scripts/CreateGitHubRelease.sh
>>>>>>> Stashed changes
  push-podspec:
    name: Push Podspec
    needs: [create-release]
    runs-on: macos-12
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Push Podspec
        env:
          COCOAPODS_TRUNK_TOKEN: ${{ secrets.COCOAPODS_TRUNK_TOKEN }}
        run: pod trunk push ProcessOut.podspec
