name: Push Podspecs
on:
  release:
    types: [published]
  workflow_dispatch:

permissions:
  contents: read

jobs:
  push-podspecs:
    runs-on: macos-26
    steps:
      - uses: actions/checkout@v4
      - name: Bootstrap Project
        uses: ./.github/actions/bootstrap-project
      - name: Push Specs
        env:
          COCOAPODS_TRUNK_TOKEN: ${{ secrets.COCOAPODS_TRUNK_TOKEN }}
        run: source Scripts/PushPodspecs.sh
