name: 'Test'
on:
  pull_request:
    types: [opened, synchronize]
  push:
    branches:
      - 'master'
  workflow_dispatch:
concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true
jobs:
  run-tests:
    runs-on: macos-14
    steps:
      - uses: actions/checkout@v3
      - name: Dump Environment
        env:
          TEST_PROJECT_CONSTANTS: ${{ secrets.TEST_PROJECT_CONSTANTS }}
        run: source Scripts/DumpConstants/DumpConstants.sh
      # - name: Bootstrap Project
      #   uses: ./.github/actions/bootstrap-project
      #   with:
      #     test-project-constants: ${{ secrets.TEST_PROJECT_CONSTANTS }}
      # - name: Run Unit Tests
      #   run: source Scripts/Test.sh
